*,
*::before
*::after {
  box-sizing: border-box;
}

* {
  margin:0;
  padding:0;
}

body{
min-height: 400px;
    color:#000000;
    background-color: #EEEEEE;    /* Light gray */
  border: 4px solid black;
  display: flex;
  gap: 10px;
}
.box{
  flex-grow: 1;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
width: 100px;
height: 100px;
background-color: rgb(83, 83, 248);
font-size: 20pt;
}
@media (max-width: 600px) {
  body{
    flex-wrap: wrap;
  }

}
#box-1{
  flex-grow: 1;
  align-self: end;
}